gradio==3.50.2 
pypdf2==3.0.1 
python-docx==0.8.11 
faiss-cpu==1.7.4
transformers==4.30.2 
torch==2.0.1 
sentence-transformers==2.2.2
langchain 
langchain-community 
ctransformers 
python-jose
pyspark==3.4.0 
spark-nlp==5.5.1
# spark-nlp-jsl==5.5.1
spark-nlp-display
pymupdf 
transformers
keras